<!-- Flat make resvervation -->
<section class="flat-row flat-make-res index-2">
    <div class="container" id="catering">
        <div class="row">
            <div class="col-md-5">
                <div class="reservation-page-right">
                    <%= image_tag 'reservation/1.png', :class => "img-responsive", :alt => 'reservation-banner' %>
                </div>
            </div><!--col-md-5-->

            <div class="col-md-7 text-center">
                <div class="title-section" style="padding-bottom: 20px;">
                    <h1 class="title">We Cater</h1>
                    <h4>We're happy to cater your next shindig.<br><br>
                    Los Viajeros specializes in Latin fusion tacos & burritos made with fresh all natural ingredients. <br><br>
                    Contact us below and we'll be in touch.</h4> 
                    <br><br>
                    <a class="contact-btn" href="mailto:los.viajeros15@gmail.com?Subject=Hello" target="_top">los.viajeros15@gmail.com</a> 
                    <br><br>
                </div>
                <h2>Some of Our Clients</h2>
                <div class="row">
                    <div class="col-xs-6 col-md-2 col-md-offset-1">
                    <%= image_tag 'clients/1.png', :class => "img-responsive", :alt => 'clients' %>
                    </div>
                    <div class="col-xs-6 col-md-2">
                    <%= image_tag 'clients/2.png', :class => "img-responsive", :alt => 'clients' %>
                    </div>

                    <div class="col-xs-6 col-md-2">
                    <%= image_tag 'clients/3.png', :class => "img-responsive", :alt => 'clients' %>
                    </div>
                    <div class="col-xs-6 col-md-2">
                    <%= image_tag 'clients/4.png', :class => "img-responsive", :alt => 'clients' %>
                    </div>
                    <div class="col-xs-6 col-md-2">
                    <%= image_tag 'clients/5.png', :class => "img-responsive", :alt => 'clients' %>
                    </div>
                    <br>
                </div>
            </div>
        </div><!--row-->
    </div><!--container -->
</section>
