<!-- Flat client  -->
<section class="flat-row flat-clients" style="padding-bottom: 92px;">
    <div class="container">
        <div class="title-section">
            <h1 class="title">Features & Awards</h1>
        </div>
        <div class="flat-client" data-item="4" data-nav="false" data-dots="false" data-auto="true" data-margin="30">
            <div class="item"> 
                    <%= image_tag 'news/1.png', :alt => 'images', :height => "100px", :width => "100px" %> 
            </div>

            <div class="item"> 
                <%= image_tag 'news/2.png', :alt => 'images', :height => "100px", :width => "100px" %> 
            </div>

            <div class="item"> 
                <%= image_tag 'news/3.png', :alt => 'images', :height => "100px", :width => "100px" %> 
            </div> 

            <div class="item"> 
                <%= image_tag 'news/4.png', :alt => 'images', :height => "100px", :width => "100px" %> 
            </div>

            <div class="item">
                <%= image_tag 'news/5.png', :alt => 'images', :height => "100px", :width => "100px" %> 
            </div>

            <div class="item">
                <%= image_tag 'news/6.png', :alt => 'images', :height => "100px", :width => "100px" %> 
            </div>

        </div><!-- /.flat-client -->       
    </div>      
</section>
<br>
<br>
