<!-- Flat client  -->
<section class="flat-row flat-clients s1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="title-section">
                    <h1 class="title">LATEST UPDATES</h1>
                </div>
                <br>
                <!-- Updates Section - 4-5 items -->
                <% sorted_data = data.news.sort_by { |h| h['order'].to_i } %>
                <% sorted_data.each do |item| %>
                <div class="media-wrap">
                    <a href="<%= item["Link"] %>" class="pull-left">
                        <% image_url = item['Image']&.first&.thumbnails&.large&.url%>
                        <% unless image_url.empty?
                          <%= image_tag image_url, :alt => "img", :class => "media-object", :width => 64, :height => 64, :style => "padding-right: 20px;" %>
                        <% end %>
                    </a>
                    <div class="media-body">
                        <h6><%= item["Title"] %></h6>
                        <%= item["Description"] %>
                        <br>
                        <% unless item["Link"].nil? %>
                            <a href="<%= item["Link"] %>"><span>SEE MORE HERE ></span></a>
                        <% end %>
                    </div>
                </div>
                <br>
                <% end %>
            </div>
            <div class="col-md-4">
                <iframe src="https://snapwidget.com/embed/437802" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
            </div>
        </div>

    </div>
</section>
