<div class="box">
  <%= partial "header" %>
  <%= partial "slider" %>
  <%= partial "in_the_news" %>
  <%= partial "our_story" %>
  <%= partial "our_menu" %>
  <%= partial "cater" %>
  <%= partial "footer" %>
</div>